#about {
  text-align: center;
  * { transition: all 0.3s;}
  .section-content {
    .icon {
      font-size: 3rem;
      color: #fff;
    }

    .about-item {
      background-color: $primary-color-2;

      .about-img {
        width: 100%;
        padding-top: 69.4444444%;
        position: relative;
        background-size: cover;

        &::before {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient($primary-color-1, $secondary-color-1);
          opacity: 0;
        }

        &:hover {
          transform: translate(-1rem, -1rem);

          .about-content {
            opacity: 1;
          }

          &::before {
            opacity: 0.7;
          }
        }

        .about-content {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          text-align: center;

          .about-title {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #about {
    .section-header {
      .section-desc {
        text-align: justify;
      }
    }
    .section-content {
      div div:not(:last-child) {
        .about-item {
          margin-bottom: 2rem;
        }

      }
    }
  }
}
