#blogs {
  text-align: center;
  * {
    transition: 0.3s;
  }
  .section-content {
    text-align: left;

    .blog-content {
      position: relative;

      .calendar {
        background-color: $primary-color-2;
        display: inline-block;
        color: #fff;
        width: 6rem;
        height: 7rem;
        text-align: center;
        position: absolute;
        left: -1rem;
        bottom: 1rem;
        padding-top: 1.5rem;

        &:hover {
          background-color: $primary-color-1;
        }

        .date {
          font-family: "Montserrat", sans-serif;
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 0;
          line-height: 3rem;
        }

        .month {
          font-family: "Roboto", sans-serif;
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-style: italic;
          margin-bottom: 0;
          margin-top: -0.2rem;
        }
      }
    }

    .blog-title {
      font-size: 1.4rem;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      text-align: left;
      font-weight: 600;
      margin-top: 1.8rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a {
        color: #000;
      }

      a:hover {
        color: $primary-color-2;
      }
    }

    .section-desc {
      text-align: left;
    }

    .icon {
      display: inline-block;
      font-size: 1.5rem;
      color: $primary-color-2;

      &:hover {
        color: $primary-color-1;
      }
    }

    .desc-number {
      display: inline-block;
      margin-right: 2rem;
      font-style: italic;
      font-family: "Roboto", sans-serif;
      color: $secondary-color-2;
    }
  }
}

@media screen and (max-width: 767px) {
  #blogs {
    .section-content {
      margin-top: 0;
      div div {
        .blog-content {
          margin-top: 5rem;
        }
      }
      div div:first-child {
        .blog-content {
            margin-top: 0;
          }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #blogs {
    .section-content {
      .section-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

  }
}