#facts {
  .container {
    div {
      [class*="col-"] {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .counter-number {
    // font-size: 7.2rem;
    font-size: 6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 6rem;
    display: none;
    margin-top: 8rem;
    &.number-show {
      display: block;
    }
  }

  .section-description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-family: "Montserrat", sans-serif;
    display: block;
    text-transform: uppercase;
    margin-bottom: 8rem;
  }
}

@media (min-width: 768px) {
  #facts .container {
    width: 720px;
    div {
      overflow: hidden;
      [class*="col-"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        border-bottom: none;
        border-right: 1px solid #fff;
        &:first-child {
            border-left: 1px solid #fff;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #facts .container {
    width: 940px;
    .counter-number {
        font-size: 7.2rem;
        line-height: 7.2rem;
    }
  }
}

@media (min-width: 1200px) {
  #facts .container {
    width: 1140px;
  }
}

// #facts [class*="col-"] {
//   margin-bottom: -99999px;
//   padding-bottom: 99999px;
// }
