#footer {
  padding-top: 7.5rem;
  background-color: #f8f8f8;
  .subcribe {
    .section-header {
      .logo {
        font: {
          family: "Montserrat", sans-serif;
          size: 4.6rem;
          weight: bold;
        }
        color: #cccccc;
        user-select: none;
        line-height: 4.6rem;
        margin-bottom: 0;
        display: inline-block;
        &:hover {
          color: $primary-color-1;
        }
      }
    }
    .section-content {
      height: 30rem;
      margin-top: 3rem;
      .section-desc {
        margin-bottom: 4.5rem;
        font-weight: 400;
        text-align: left;
      }
      .follow {
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        color: #333;
        .strong {
          font-size: 1.8rem;
          font-weight: bold;
        }
      }
      .desc-number {
        margin-right: 2rem;
        display: inline-block;
        font-style: italic;
        font-family: "Roboto", sans-serif;
        color: #999999;
      }
      .social {
        padding-left: 0;
        display: inline-block;
        li {
          display: inline;
          margin-right: 1rem;
          a {
            color: $primary-color-2;
            font-size: 1.75rem;
            &:hover {
              color: $primary-color-1;
            }
          }
        }
      }
      form {
        margin-top: 3rem;
        margin-bottom: 3rem;
        input {
          font-size: 1.5rem;
          height: 4.8rem;
          float: left;
          border: 1px solid #e7e7e7;
          border-radius: 0;
          width: 60%;
          box-shadow: none;
          &::placeholder {
            font: {
              style: italic;
              family: "Roboto", sans-serif;
              weight: 300;
              size: 1.5rem;
            }
            color: #e7e7e7;
            line-height: 2.4rem;
          }
          &:focus {
            box-shadow: none;
          }
        }
        .primaryBackground {
          font: {
            family: "Montserrat", sans-serif;
            size: 1.4rem;
            weight: bold;
          }
          text-transform: uppercase;
          padding: 1.4rem 0;
          width: 40%;
          border-radius: 0;
          border: none;
          float: right;
          &:hover {
            color: #fff;
            background-color: $primary-color-1;
          }
        }
      }
    }
  }
  .blogs {
    .section-header {
      .title {
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        color: #333333;
        text-transform: uppercase;
        line-height: 4.6rem;
      }
    }
    .section-content {
      margin-top: 3rem;
      .blog-list {
        margin-top: 0;
        padding-left: 0;
        .blog-item {
          margin-bottom: 3rem;
          .left {
            display: table-cell;
            vertical-align: middle;
          }
          .right {
            @extend .left;
            padding-left: 2rem;
            padding-top: 1.5rem;
          }
          a {
            .date-time {
              font: {
                family: "Roboto", sans-serif;
                size: 1.3rem;
                style: italic;
              }
              color: #b1b1b1;
              margin-bottom: 0;
            }
            .blog-title {
              font: {
                family: "Montserrat", sans-serif;
                size: 1.2rem;
              }
              color: #333;
              line-height: 1.8rem;
              text-transform: uppercase;
              margin-bottom: 0;
              &:hover {
                color: $primary-color-1;
              }
            }
            &:hover {
            }
            &:active {
            }
            &:focus {
            }
          }
        }
      }
    }
  }
  .instagram {
    .section-header {
      .title {
        font: {
          family: "Montserrat", sans-serif;
          size: 1.4rem;
          weight: 600;
        }
        color: #333333;
        text-transform: uppercase;
        line-height: 4.6rem;
      }
    }
    .section-content {
      margin-top: 3rem;

      .image {
        .imglist.clearfix {
          a {
            float: left;
            width: calc(100% / 3);
            font-size: 0;
            padding: {
              left: 2px;
              bottom: 2px;
            }
            div {
              width: 100%;
              padding-bottom: 100%;
              background-size: cover;
              font-size: 0;
            }
          }
        }
      }
      .date-time {
        margin-top: 2.35rem;
        display: block;
        color: #b1b1b1;
      }
    }
  }
  .copy-right {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    span {
      color: $primary-color-1;
    }
  }
}

@media screen and (max-width: 767px) {
  #footer {
    .subcribe {
      .section-content {
        .section-desc {
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #footer {
    .blogs {
      .section-content {
        .blog-list {
          .blog-item {
            .left {
              vertical-align: top;
            }
            .right {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}
