@import "../customBootstrap/_customVariables.scss";

body {

}

li {
    list-style: none;
}
.img-responsive {
    width: 100%;
}

.primaryBackground {
    color: #fff;
    background-color: $primary-color-2;
}

.sub-title {
    font-family: 'Kaushan Script';
    font-weight: bold;
    font-size: 2.4rem;
    color: #000;
    text-align: center;
    position: relative;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 9rem;
    text-align: center;
}

.section-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #999999;
    text-align: center;

}

.main-title::after {
    content: "";
    height: 3px;
    width: 60px;
    position: absolute;
    content: "";
    left: 50%;
    bottom: -4rem;
    background-color: $primary-color-1;
    transform: translateX(-50%);
}

.section-padding {
    padding-top: 5rem;
    padding-bottom: 7rem;
}

.section-content {
    margin-top: 5rem;
}