#map {
    padding-top: 5.5rem;
    background-size: cover;
    text-align: center;
    background-image: url(../images/map/map-background.jpg);

    .icon {
        margin-bottom: 1.5rem;
    }

    .main-title {
        color: $primary-color-1;
        margin-bottom: 8rem;
        &::after {
            bottom: -2rem;
    background-color: $primary-color-1;
    transform: translateX(-50%);
        }
    }
    #google-map {
    display: none;
}
}
