#header {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: all 0.3s;

  .logo {
    float: left;

    a {
      font: {
        size: 3rem;
        weight: bold;
      }
      line-height: 3rem;
      display: inline-block;
      color: #fff;
      margin: {
        top: 1.5rem;
        bottom: 1.5rem;
      }
    }
    .icon {
      display: none;
    }
  }

  .navbar {
    float: right;
    // min-height: 5rem;
    margin-top: 2.6rem;
    a {
      font: {
        size: 1.4rem;
      }
      // display: inline-block;
      text-transform: uppercase;
      color: #fff;
      margin-right: 5.5rem;
      padding-bottom: 0.5rem;
      // padding-top: 2.6rem;
      &.active,
      &:hover {
        border-bottom: 2px solid $secondary-color-1;
        color: $secondary-color-1;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .button {
      background-color: transparent;
      color: #fff;
      font-size: 1.4rem;
      border: none;
      margin-right: 5.5rem;
      &:focus {
        outline: none;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border-bottom: 2px solid $secondary-color-1;
        color: $secondary-color-1;
      }
    }
  }
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 30px;
      cursor: pointer;
      color: white;
      font-family: Arial;
      &:hover {
        color: #ccc;
      }
    }
    .overlay-content {
      position: relative;
      top: 46%;
      width: 80%;
      text-align: center;
      margin-top: 30px;
      margin: auto;
      input[type=text] {
        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 80%;
        background: white;
        &:hover {
          background: #f1f1f1;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        color: #fff;
        float: left;
        width: 20%;
        padding: 15px;
        background: $primary-color-2;
        font-size: 17px;
        border: none;
        cursor: pointer;
        &:hover {
          background: $primary-color-1;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #header {
    .logo {
      float: none;
      &.border {
        border-bottom: 1px solid #fff;
      }
      .icon {
        display: block;
        float: right;
      }
    }
    .navbar {
      float: none;
      display: none;
      .button {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
        &:last-child {
          margin-right: auto;
        }
      }
      a:hover {
        border-bottom: none;
      }
      .button:hover {
        border-bottom: none;
      }
    }
    .navbar.responsive {
      margin-top: 1.5rem;
      display: block;
      a {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        margin-right: 0;
        &.active {
          border: none;
        }
      }
    }
  }
}
