.sliderContainer {
  text-align: center;
  position: relative;
  .slide-background {
    background: {
      image: url(../images/banner/bannerBackground.jpg);
      size: cover;
      position: center center;
    }
    padding-top: 22.2rem;
    position: relative;
    &::before {
      height: 100%;
      width: 100%;
      content: "";
      background: linear-gradient($primary-color-1, $secondary-color-1);
      position: absolute;
      opacity: 0.7;
      top: 0;
      left: 0;
    }
    .sub-title {
      font-size: 7.2rem;
      font-weight: bold;
      color: #fff;
    }
    .main-title {
      color: #fff;
      font-size: 15rem;
      line-height: 14rem;
      &::after {
        background-color: #fff;
        bottom: -7rem;
      }
    }
    .lMore {
      display: inline-block;
      position: relative;
      border: 3px solid #fff;
      color: #fff;
      margin: 4rem 0 23.2rem;
      padding: 1.2rem 2.8rem;
      font: {
        family: "Montserrat", sans-serif;
        size: 1.4rem;
        weight: bold;
      }
      text-transform: uppercase;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgba($color: $primary-color-1, $alpha: 0.7);
        border-color: transparent;
        transition: 0.1s;
      }
    }
  }
  .container {
    position: relative;
    .dots-container {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      .slide-indicator {
        .progressBarContainer {
          div {
            width: calc((100% - 90px) / 4);
            float: left;
            margin-right: 30px;
            &:last-child {
              margin-right: 0;
            }
            .progressBar {
              width: 100%;
              height: 3px;
              display: block;
              background-color: rgba($color: #fff, $alpha: 0.5);
              .inProgress {
                background-color: $primary-color-1;
                width: 0%;
                height: 3px;
                opacity: 1;
              }
            }
            p {
              font-size: 1.8rem;
              margin-top: 2rem;
              text-align: left;
              color: rgba(255, 255, 255, 0.5);
              text-transform: uppercase;
              .number {
                font-size: 2.4rem;
                font-weight: bold;
                margin-right: 0.2rem;
              }
            }
            &.inActive {
              p {
                color: #fff;
              }
              .progressBar {
                background-color: #fff;
              }
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .sliderContainer {
    .slide-background {
    }
    .dots-container {
      .slide-indicator {
        .progressBarContainer {
          div {
            p {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .sliderContainer {
    .slide-background {
      padding-top: 15rem;
      .sub-title {
        font-size: 5rem;
      }
      .main-title {
        font-size: 8rem;
        line-height: 9rem;
        &::after {
          bottom: -4rem;
        }
      }
      .lMore {
        margin: 0 0 13.2rem;
      }
    }
    .dots-container {
      bottom: 3rem;
      .slide-indicator {
        .progressBarContainer {
          div {
            p {
              .number {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sliderContainer {
    .slide-background {
      padding-top: 10rem;
      .sub-title {
        font-size: 3rem;
      }
      .main-title {
        font-size: 5rem;
        line-height: 6rem;
        &::after {
          bottom: -4rem;
        }
      }
      .lMore {
        margin: 0 0 8.2rem;
      }
    }
    .dots-container {
      bottom: 3rem;
      .slide-indicator {
        .progressBarContainer {
          div {
            p {
              display: none;
            }
          }
        }
      }
    }
  }
}
