#works {
    text-align: center;
    padding-bottom: 0;
    * {
        transition: 0.3s;
    }

    .section-content {
        .container-fluid .row div {
            padding: 0;
        }

        .work-item {
            position: relative;

            .content {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                color: #fff;
                z-index: 1;

                .icon {
                    font-size: 2rem;
                }

                p:first-of-type {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    margin-top: 1rem;
                }

                p:nth-of-type(2) {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    font-style: italic;
                }

            }

            &::after {
                height: 100%;
                width: 100%;
                content: "";
                position: absolute;
                background: linear-gradient(#f38181, #fce38a);
                top: 0;
                left: 0;
                opacity: 0;
            }

            &:hover::after {
                opacity: 0.7;
            }

            &:hover .content {
                opacity: 1;
            }

        }
    }
}
