@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4h2uhf');
  src:  url('fonts/icomoon.eot?4h2uhf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4h2uhf') format('truetype'),
    url('fonts/icomoon.woff?4h2uhf') format('woff'),
    url('fonts/icomoon.svg?4h2uhf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tumblr:before {
  content: "\eab9";
}
.icon-loupe:before {
  content: "\e905";
}
.icon-buy:before {
  content: "\e906";
}
.icon-google-plus:before {
  content: "\e900";
}
.icon-pinterest:before {
  content: "\e901";
}
.icon-eye:before {
  content: "\e902";
}
.icon-friend:before {
  content: "\e903";
}
.icon-speech-bubble:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-menu:before {
  content: "\e9bd";
}
