@import url(../fonts/web/Kaushan_script-web-font/stylesheet.css);
@import url(../fonts/web/Montserrat-web-font/stylesheet.css);
@import url(../fonts/web/Roboto-web-font/stylesheet.css);
@import url(../fonts/icon/style.css);
li {
  list-style: none; }

.img-responsive {
  width: 100%; }

.primaryBackground {
  color: #fff;
  background-color: #95e1d3; }

.sub-title {
  font-family: 'Kaushan Script';
  font-weight: bold;
  font-size: 2.4rem;
  color: #000;
  text-align: center;
  position: relative; }

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 9rem;
  text-align: center; }

.section-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  text-align: center; }

.main-title::after {
  content: "";
  height: 3px;
  width: 60px;
  position: absolute;
  content: "";
  left: 50%;
  bottom: -4rem;
  background-color: #f38181;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.section-padding {
  padding-top: 5rem;
  padding-bottom: 7rem; }

.section-content {
  margin-top: 5rem; }

#header {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #header .logo {
    float: left; }
    #header .logo a {
      font-size: 3rem;
      font-weight: bold;
      line-height: 3rem;
      display: inline-block;
      color: #fff;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; }
    #header .logo .icon {
      display: none; }
  #header .navbar {
    float: right;
    margin-top: 2.6rem; }
    #header .navbar a {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #fff;
      margin-right: 5.5rem;
      padding-bottom: 0.5rem; }
      #header .navbar a.active, #header .navbar a:hover {
        border-bottom: 2px solid #fce38a;
        color: #fce38a; }
      #header .navbar a:last-child {
        margin-right: 0; }
    #header .navbar .button {
      background-color: transparent;
      color: #fff;
      font-size: 1.4rem;
      border: none;
      margin-right: 5.5rem; }
      #header .navbar .button:focus {
        outline: none; }
      #header .navbar .button:last-child {
        margin-right: 0; }
      #header .navbar .button:hover {
        border-bottom: 2px solid #fce38a;
        color: #fce38a; }
  #header .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9); }
    #header .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 30px;
      cursor: pointer;
      color: white;
      font-family: Arial; }
      #header .overlay .closebtn:hover {
        color: #ccc; }
    #header .overlay .overlay-content {
      position: relative;
      top: 46%;
      width: 80%;
      text-align: center;
      margin-top: 30px;
      margin: auto; }
      #header .overlay .overlay-content input[type=text] {
        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 80%;
        background: white; }
        #header .overlay .overlay-content input[type=text]:hover {
          background: #f1f1f1; }
        #header .overlay .overlay-content input[type=text]:focus {
          outline: none; }
      #header .overlay .overlay-content button {
        color: #fff;
        float: left;
        width: 20%;
        padding: 15px;
        background: #95e1d3;
        font-size: 17px;
        border: none;
        cursor: pointer; }
        #header .overlay .overlay-content button:hover {
          background: #f38181; }

@media screen and (max-width: 767px) {
  #header .logo {
    float: none; }
    #header .logo.border {
      border-bottom: 1px solid #fff; }
    #header .logo .icon {
      display: block;
      float: right; }
  #header .navbar {
    float: none;
    display: none; }
    #header .navbar .button {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2rem; }
      #header .navbar .button:last-child {
        margin-right: auto; }
    #header .navbar a:hover {
      border-bottom: none; }
    #header .navbar .button:hover {
      border-bottom: none; }
  #header .navbar.responsive {
    margin-top: 1.5rem;
    display: block; }
    #header .navbar.responsive a {
      display: block;
      text-align: center;
      margin-bottom: 2rem;
      margin-right: 0; }
      #header .navbar.responsive a.active {
        border: none; } }

.sliderContainer {
  text-align: center;
  position: relative; }
  .sliderContainer .slide-background {
    background-image: url(../images/banner/bannerBackground.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 22.2rem;
    position: relative; }
    .sliderContainer .slide-background::before {
      height: 100%;
      width: 100%;
      content: "";
      background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
      background: -webkit-linear-gradient(#f38181, #fce38a);
      background: -o-linear-gradient(#f38181, #fce38a);
      background: linear-gradient(#f38181, #fce38a);
      position: absolute;
      opacity: 0.7;
      top: 0;
      left: 0; }
    .sliderContainer .slide-background .sub-title {
      font-size: 7.2rem;
      font-weight: bold;
      color: #fff; }
    .sliderContainer .slide-background .main-title {
      color: #fff;
      font-size: 15rem;
      line-height: 14rem; }
      .sliderContainer .slide-background .main-title::after {
        background-color: #fff;
        bottom: -7rem; }
    .sliderContainer .slide-background .lMore {
      display: inline-block;
      position: relative;
      border: 3px solid #fff;
      color: #fff;
      margin: 4rem 0 23.2rem;
      padding: 1.2rem 2.8rem;
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase; }
      .sliderContainer .slide-background .lMore:focus {
        outline: none; }
      .sliderContainer .slide-background .lMore:hover {
        background-color: rgba(243, 129, 129, 0.7);
        border-color: transparent;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }
  .sliderContainer .container {
    position: relative; }
    .sliderContainer .container .dots-container {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; }
      .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div {
        width: calc((100% - 90px) / 4);
        float: left;
        margin-right: 30px; }
        .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div:last-child {
          margin-right: 0; }
        .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div .progressBar {
          width: 100%;
          height: 3px;
          display: block;
          background-color: rgba(255, 255, 255, 0.5); }
          .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div .progressBar .inProgress {
            background-color: #f38181;
            width: 0%;
            height: 3px;
            opacity: 1; }
        .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div p {
          font-size: 1.8rem;
          margin-top: 2rem;
          text-align: left;
          color: rgba(255, 255, 255, 0.5);
          text-transform: uppercase; }
          .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div p .number {
            font-size: 2.4rem;
            font-weight: bold;
            margin-right: 0.2rem; }
        .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div.inActive p {
          color: #fff; }
        .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div.inActive .progressBar {
          background-color: #fff; }
        .sliderContainer .container .dots-container .slide-indicator .progressBarContainer div:hover {
          cursor: pointer; }

@media screen and (max-width: 991px) {
  .sliderContainer .slide-background {
    padding-top: 15rem; }
    .sliderContainer .slide-background .sub-title {
      font-size: 5rem; }
    .sliderContainer .slide-background .main-title {
      font-size: 8rem;
      line-height: 9rem; }
      .sliderContainer .slide-background .main-title::after {
        bottom: -4rem; }
    .sliderContainer .slide-background .lMore {
      margin: 0 0 13.2rem; }
  .sliderContainer .dots-container {
    bottom: 3rem; }
    .sliderContainer .dots-container .slide-indicator .progressBarContainer div p .number {
      display: none; } }

@media screen and (max-width: 767px) {
  .sliderContainer .slide-background {
    padding-top: 10rem; }
    .sliderContainer .slide-background .sub-title {
      font-size: 3rem; }
    .sliderContainer .slide-background .main-title {
      font-size: 5rem;
      line-height: 6rem; }
      .sliderContainer .slide-background .main-title::after {
        bottom: -4rem; }
    .sliderContainer .slide-background .lMore {
      margin: 0 0 8.2rem; }
  .sliderContainer .dots-container {
    bottom: 3rem; }
    .sliderContainer .dots-container .slide-indicator .progressBarContainer div p {
      display: none; } }

#about {
  text-align: center; }
  #about * {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  #about .section-content .icon {
    font-size: 3rem;
    color: #fff; }
  #about .section-content .about-item {
    background-color: #95e1d3; }
    #about .section-content .about-item .about-img {
      width: 100%;
      padding-top: 69.4444444%;
      position: relative;
      background-size: cover; }
      #about .section-content .about-item .about-img::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
        background: -webkit-linear-gradient(#f38181, #fce38a);
        background: -o-linear-gradient(#f38181, #fce38a);
        background: linear-gradient(#f38181, #fce38a);
        opacity: 0; }
      #about .section-content .about-item .about-img:hover {
        -webkit-transform: translate(-1rem, -1rem);
        -ms-transform: translate(-1rem, -1rem);
        transform: translate(-1rem, -1rem); }
        #about .section-content .about-item .about-img:hover .about-content {
          opacity: 1; }
        #about .section-content .about-item .about-img:hover::before {
          opacity: 0.7; }
      #about .section-content .about-item .about-img .about-content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        text-align: center; }
        #about .section-content .about-item .about-img .about-content .about-title {
          font-size: 1.8rem;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          color: #fff; }

@media screen and (max-width: 768px) {
  #about .section-header .section-desc {
    text-align: justify; }
  #about .section-content div div:not(:last-child) .about-item {
    margin-bottom: 2rem; } }

#facts .container div [class*="col-"] {
  border-bottom: 1px solid #fff; }

#facts .counter-number {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 6rem;
  display: none;
  margin-top: 8rem; }
  #facts .counter-number.number-show {
    display: block; }

#facts .section-description {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: "Montserrat", sans-serif;
  display: block;
  text-transform: uppercase;
  margin-bottom: 8rem; }

@media (min-width: 768px) {
  #facts .container {
    width: 720px; }
    #facts .container div {
      overflow: hidden; }
      #facts .container div [class*="col-"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        border-bottom: none;
        border-right: 1px solid #fff; }
        #facts .container div [class*="col-"]:first-child {
          border-left: 1px solid #fff; } }

@media (min-width: 992px) {
  #facts .container {
    width: 940px; }
    #facts .container .counter-number {
      font-size: 7.2rem;
      line-height: 7.2rem; } }

@media (min-width: 1200px) {
  #facts .container {
    width: 1140px; } }

#works {
  text-align: center;
  padding-bottom: 0; }
  #works * {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  #works .section-content .container-fluid .row div {
    padding: 0; }
  #works .section-content .work-item {
    position: relative; }
    #works .section-content .work-item .content {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      color: #fff;
      z-index: 1; }
      #works .section-content .work-item .content .icon {
        font-size: 2rem; }
      #works .section-content .work-item .content p:first-of-type {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 1rem; }
      #works .section-content .work-item .content p:nth-of-type(2) {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 0;
        font-style: italic; }
    #works .section-content .work-item::after {
      height: 100%;
      width: 100%;
      content: "";
      position: absolute;
      background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
      background: -webkit-linear-gradient(#f38181, #fce38a);
      background: -o-linear-gradient(#f38181, #fce38a);
      background: linear-gradient(#f38181, #fce38a);
      top: 0;
      left: 0;
      opacity: 0; }
    #works .section-content .work-item:hover::after {
      opacity: 0.7; }
    #works .section-content .work-item:hover .content {
      opacity: 1; }

#blogs {
  text-align: center; }
  #blogs * {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  #blogs .section-content {
    text-align: left; }
    #blogs .section-content .blog-content {
      position: relative; }
      #blogs .section-content .blog-content .calendar {
        background-color: #95e1d3;
        display: inline-block;
        color: #fff;
        width: 6rem;
        height: 7rem;
        text-align: center;
        position: absolute;
        left: -1rem;
        bottom: 1rem;
        padding-top: 1.5rem; }
        #blogs .section-content .blog-content .calendar:hover {
          background-color: #f38181; }
        #blogs .section-content .blog-content .calendar .date {
          font-family: "Montserrat", sans-serif;
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 0;
          line-height: 3rem; }
        #blogs .section-content .blog-content .calendar .month {
          font-family: "Roboto", sans-serif;
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-style: italic;
          margin-bottom: 0;
          margin-top: -0.2rem; }
    #blogs .section-content .blog-title {
      font-size: 1.4rem;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      text-align: left;
      font-weight: 600;
      margin-top: 1.8rem;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      #blogs .section-content .blog-title a {
        color: #000; }
      #blogs .section-content .blog-title a:hover {
        color: #95e1d3; }
    #blogs .section-content .section-desc {
      text-align: left; }
    #blogs .section-content .icon {
      display: inline-block;
      font-size: 1.5rem;
      color: #95e1d3; }
      #blogs .section-content .icon:hover {
        color: #f38181; }
    #blogs .section-content .desc-number {
      display: inline-block;
      margin-right: 2rem;
      font-style: italic;
      font-family: "Roboto", sans-serif;
      color: #999999; }

@media screen and (max-width: 767px) {
  #blogs .section-content {
    margin-top: 0; }
    #blogs .section-content div div .blog-content {
      margin-top: 5rem; }
    #blogs .section-content div div:first-child .blog-content {
      margin-top: 0; } }

@media screen and (max-width: 1199px) {
  #blogs .section-content .section-desc {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; } }

#map {
  padding-top: 5.5rem;
  background-size: cover;
  text-align: center;
  background-image: url(../images/map/map-background.jpg); }
  #map .icon {
    margin-bottom: 1.5rem; }
  #map .main-title {
    color: #f38181;
    margin-bottom: 8rem; }
    #map .main-title::after {
      bottom: -2rem;
      background-color: #f38181;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  #map #google-map {
    display: none; }

#footer {
  padding-top: 7.5rem;
  background-color: #f8f8f8; }
  #footer .subcribe .section-header .logo {
    font-family: "Montserrat", sans-serif;
    font-size: 4.6rem;
    font-weight: bold;
    color: #cccccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 4.6rem;
    margin-bottom: 0;
    display: inline-block; }
    #footer .subcribe .section-header .logo:hover {
      color: #f38181; }
  #footer .subcribe .section-content {
    height: 30rem;
    margin-top: 3rem; }
    #footer .subcribe .section-content .section-desc {
      margin-bottom: 4.5rem;
      font-weight: 400;
      text-align: left; }
    #footer .subcribe .section-content .follow {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      color: #333; }
      #footer .subcribe .section-content .follow .strong {
        font-size: 1.8rem;
        font-weight: bold; }
    #footer .subcribe .section-content .desc-number {
      margin-right: 2rem;
      display: inline-block;
      font-style: italic;
      font-family: "Roboto", sans-serif;
      color: #999999; }
    #footer .subcribe .section-content .social {
      padding-left: 0;
      display: inline-block; }
      #footer .subcribe .section-content .social li {
        display: inline;
        margin-right: 1rem; }
        #footer .subcribe .section-content .social li a {
          color: #95e1d3;
          font-size: 1.75rem; }
          #footer .subcribe .section-content .social li a:hover {
            color: #f38181; }
    #footer .subcribe .section-content form {
      margin-top: 3rem;
      margin-bottom: 3rem; }
      #footer .subcribe .section-content form input {
        font-size: 1.5rem;
        height: 4.8rem;
        float: left;
        border: 1px solid #e7e7e7;
        border-radius: 0;
        width: 60%;
        -webkit-box-shadow: none;
        box-shadow: none; }
        #footer .subcribe .section-content form input::-webkit-input-placeholder {
          font-style: italic;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          color: #e7e7e7;
          line-height: 2.4rem; }
        #footer .subcribe .section-content form input:-ms-input-placeholder {
          font-style: italic;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          color: #e7e7e7;
          line-height: 2.4rem; }
        #footer .subcribe .section-content form input::-ms-input-placeholder {
          font-style: italic;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          color: #e7e7e7;
          line-height: 2.4rem; }
        #footer .subcribe .section-content form input::placeholder {
          font-style: italic;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          color: #e7e7e7;
          line-height: 2.4rem; }
        #footer .subcribe .section-content form input:focus {
          -webkit-box-shadow: none;
          box-shadow: none; }
      #footer .subcribe .section-content form .primaryBackground {
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1.4rem 0;
        width: 40%;
        border-radius: 0;
        border: none;
        float: right; }
        #footer .subcribe .section-content form .primaryBackground:hover {
          color: #fff;
          background-color: #f38181; }
  #footer .blogs .section-header .title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
    line-height: 4.6rem; }
  #footer .blogs .section-content {
    margin-top: 3rem; }
    #footer .blogs .section-content .blog-list {
      margin-top: 0;
      padding-left: 0; }
      #footer .blogs .section-content .blog-list .blog-item {
        margin-bottom: 3rem; }
        #footer .blogs .section-content .blog-list .blog-item .left, #footer .blogs .section-content .blog-list .blog-item .right {
          display: table-cell;
          vertical-align: middle; }
        #footer .blogs .section-content .blog-list .blog-item .right {
          padding-left: 2rem;
          padding-top: 1.5rem; }
        #footer .blogs .section-content .blog-list .blog-item a .date-time {
          font-family: "Roboto", sans-serif;
          font-size: 1.3rem;
          font-style: italic;
          color: #b1b1b1;
          margin-bottom: 0; }
        #footer .blogs .section-content .blog-list .blog-item a .blog-title {
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          color: #333;
          line-height: 1.8rem;
          text-transform: uppercase;
          margin-bottom: 0; }
          #footer .blogs .section-content .blog-list .blog-item a .blog-title:hover {
            color: #f38181; }
  #footer .instagram .section-header .title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
    line-height: 4.6rem; }
  #footer .instagram .section-content {
    margin-top: 3rem; }
    #footer .instagram .section-content .image .imglist.clearfix a {
      float: left;
      width: calc(100% / 3);
      font-size: 0;
      padding-left: 2px;
      padding-bottom: 2px; }
      #footer .instagram .section-content .image .imglist.clearfix a div {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        font-size: 0; }
    #footer .instagram .section-content .date-time {
      margin-top: 2.35rem;
      display: block;
      color: #b1b1b1; }
  #footer .copy-right {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.4rem; }
    #footer .copy-right span {
      color: #f38181; }

@media screen and (max-width: 767px) {
  #footer .subcribe .section-content .section-desc {
    text-align: justify; } }

@media screen and (max-width: 1199px) {
  #footer .blogs .section-content .blog-list .blog-item .left, #footer .blogs .section-content .blog-list .blog-item .right {
    vertical-align: top; }
  #footer .blogs .section-content .blog-list .blog-item .right {
    padding-top: 0; } }
