


// customBootstrap

$link-hover-decoration: none;
$font-family-sans-serif:  "Montserrat", sans-serif;
$font-size-base:          10px !default;



// user's variables

$primary-color-1: #f38181;
$primary-color-2: #95e1d3;
$secondary-color-1: #fce38a;
$secondary-color-2: #999999;

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

