@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.col-xs-15 {
    width: calc((100%-30px)/5);
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}